[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "blockr.core"]
	path = blockr.core
	url = https://github.com/bristolmyerssquibb/blockr.core
